<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="java">

<footer class="footer" th:fragment="copy">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-4">
                <div class="footer-logo">

                    <a class="navbar-brand" href="#">BillingPortal</a>
                    <p th:text="#{main.footer.msg}"></p>

                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">

                    <h4 th:text="#{menu.title.projects}"></h4>

                    <ul class="list-unstyled">
                        <li><a href="#">In progress</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">

                    <h4 th:text="#{menu.title.support}"></h4>

                    <ul class="list-unstyled">
                        <li><a href="#">In progress</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">

                    <h4 th:text="#{menu.title.company}"></h4>

                    <ul class="list-unstyled">
                        <li><a href="#">In progress</a></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <p>&copy; Copyrights BillingPortal. All rights reserved.</p>
            <div class="credits">
                Created by Kballarock
            </div>
        </div>
    </div>
</footer>

</html>