<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<div th:fragment="copy">
    <script th:inline="javascript">
        var user_enabled_msg = /*[[#{user.msg.enabled}]]*/ 'Message not found';
        var user_disabled_msg = /*[[#{user.msg.disabled}]]*/ 'Message not found';
        var user_add_msg = /*[[#{common.title.add}]]*/ 'Message not found';
        var user_update_msg = /*[[#{common.title.update}]]*/ 'Message not found';
        var user_edit_msg = /*[[#{common.edit}]]*/ 'Message not found';
        var user_delete_msg = /*[[#{common.delete}]]*/ 'Message not found';
        var preDelete_msg = /*[[#{common.preDelete.msg}]]*/ 'Message not found';
        var postDelete_msg = /*[[#{common.postDelete.msg}]]*/ 'Message not found';
        var userAdded_msg = /*[[#{common.saved}]]*/ 'Message not found';
        var email_msg = /*[[#{common.email}]]*/ 'Message not found';
        var privilege_msg = /*[[#{common.privilege}]]*/ 'Message not found';
        var role_msg = /*[[#{common.userRoles}]]*/ 'Message not found';
        var role_setting_msg = /*[[#{message.role.setting}]]*/ 'Message not found';
        var privileges_list_msg = /*[[#{common.privilege.list}]]*/ 'Message not found';
        var privilege_add_msg = /*[[#{privilege.add}]]*/ 'Message not found';
        var privilege_delete_msg = /*[[#{privilege.delete}]]*/ 'Message not found';
        var role_add_msg = /*[[#{role.add}]]*/ 'Message not found';
        var role_delete_msg = /*[[#{role.delete}]]*/ 'Message not found';
    </script>
</div>
</html>