<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head th:insert="~{/fragments/headTag :: copy}">
    <title id="pageTitle">[[#{title.forgetPsw}]]</title>
</head>
<link th:href="@{/resources/css/forgotPsw.css}" rel="stylesheet">

<body>
<div th:insert="~{/fragments/wait :: copy}"></div>

<section id="hero" class="wow">
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div><a class="close pull-right p-2" th:href="@{/}">&times;</a></div>
                <div class="forgot">
                    <h2 th:text="#{login.forgot.password}"></h2>
                    <p th:text="#{reset.main.message}"></p>
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>[[#{reset.first.message}]]</li>
                        <li><span class="text-primary text-medium">2. </span>[[#{reset.second.message}]]</li>
                        <li><span class="text-primary text-medium">3. </span>[[#{reset.third.message}]]</li>
                    </ol>
                </div>

                <form id="resetPassword" class="card forgot mt-4" th:action="@{service/resetPassword}" method='POST'>

                    <div class="alert alert-arrow alert-arrow-danger d-flex rounded p-0 text-center" role="alert" th:if="${error}">
                        <div class="alert-icon d-flex justify-content-center align-items-center text-white flex-grow-0 flex-shrink-0">
                            <i class="fa fa-times-circle"></i>
                        </div>
                        <div class="d-flex align-items-center py-2 pl-4 pr-3" th:utext="${error}">
                            Error
                        </div>
                        <a href="#" class="close d-flex ml-auto justify-content-center align-items-center px-3" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="email" th:text="#{reset.email.message}"></label>
                            <input class="form-control" type="email" name="email" value="" id="email" required>
                            <small class="form-text text-muted" th:text="#{reset.info.message}"></small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger" type="submit" th:text="#{reset.password.btn}"></button>
                        <a class="btn btn-success" th:href="@{login}" th:text="#{reset.back.btn}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- ======= Scripts ======= -->
<div th:insert="~{/fragments/scriptTag :: copy}"></div>
</body>
</html>