<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{/fragments/headTag :: copy}">
    <title id="pageTitle">[[#{title.editPassword}]]</title>
</head>
<link th:href="@{/resources/css/animateicon.css}" rel="stylesheet">
<body>

<section id="hero">
    <section id="testimonials" class="padd-section text-center wow fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div ><a class="close pull-right p-2" th:href="@{/home}">&times;</a></div>
                    <div class="testimonials-content">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item  active">

                                    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                        <span class="swal2-success-line-tip"></span>
                                        <span class="swal2-success-line-long"></span>
                                        <div class="swal2-success-ring"></div>
                                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                    </div>

                                    <div class="top-top">
                                        <h2 th:utext="#{message.editPassword}"></h2>
                                        <a th:href="@{/home}" class="btn btn-success" th:text="#{common.back.main}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>

<!-- ======= Scripts ======= -->
<div th:insert="~{/fragments/scriptTag :: copy}"></div>
</body>
</html>