<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head th:insert="~{/fragments/headTag :: copy}">
    <title id="pageTitle">[[#{title.forgetPsw}]]</title>
</head>

<link th:href="@{/resources/css/auth.css}" rel="stylesheet">

<body>

<section id="hero">
    <div class="container" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div ><a class="close pull-right p-2" href="#" onclick="document.forms['logoutForm'].submit()">&times;</a>
                        <form id="logoutForm" th:action="@{/logout}" method='POST' th:hidden="logout">
                            <input id="logout" hidden type="submit">
                        </form>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="#{update.psw.message}"></h5>
                        <form class="form-signin" th:action="@{service/savePassword}" th:method="POST" th:object="${updatePassword}">

                            <div class="alert alert-arrow alert-arrow-danger d-flex rounded p-0" role="alert" th:if="${#fields.hasErrors('newPassword')}">
                                <div class="alert-icon d-flex justify-content-center align-items-center text-white flex-grow-0 flex-shrink-0">
                                    <i class="fa fa-times-circle"></i>
                                </div>
                                <div class="alert-message d-flex align-items-center py-2 pl-4 pr-3" th:errors="*{newPassword}">
                                    Errors
                                </div>
                                <a href="#" class="close d-flex ml-auto justify-content-center align-items-center px-3" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="newPassword" class="form-control" th:field="*{newPassword}" th:placeholder="#{common.password}" required>
                                <label for="newPassword" th:text="#{update.psw.newPassword}"></label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="confirmNewPassword" class="form-control" th:field="*{confirmNewPassword}" th:placeholder="#{common.password}" required>
                                <label for="confirmNewPassword" th:text="#{update.psw.confirmPassword}"></label>
                            </div>

                            <button class="btn btn-lg btn-singIn btn-block" type="submit" th:text="#{update.psw.updatePassword}"></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Scripts ======= -->
<div th:insert="~{/fragments/scriptTag :: copy}"></div>

</body>
</html>